body {
    background-color: #ffcc13;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.btn, .btn:hover, .btn:focus {
    border: 2px solid #000000;
    background-color: #ffcc13;
    margin: 20px;
}

.wow {
    display: flex;
  flex-direction: column;
  justify-content: center;
  
  text-align: center;
  min-height: 100vh;
}